/* 主色調設置為 #B26021 */
:root {
    --primary-color: #B26021;
}

/* 頁面背景色 */
body {
    background-color: #f0f0f0;
}

/* 主標題樣式 */
h1 {
    color: var(--primary-color);
    text-align: center;
}

/* 內容容器 */
#CONTENT {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 商品容器 */
.prod {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* 商品圖片容器 */
.img {
    margin-right: 50px;
    width: 45%;
}

/* 商品圖片 */
.commodityPhoto {
    width: 300px;
    border-radius: 5px;
}

/* 商品詳細資訊容器 */
.commodityPage {
    text-align: left;
    line-height: 35px;
    width: 45%;
}

/* 商品名稱樣式 */
.commodityPage label {
    color: var(--primary-color);
    font-weight: bold;
}

/* 商品價格樣式 */
#price {
    color: black;
    font-weight: bold;
}

/* 修改資料按鈕樣式 */
.button {
    border: none;
    border-radius: 1rem;
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #934e1a;
}

.review-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    width: 100%;
}

/* 平均評分樣式 */
.average-rating {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.star-rating {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    margin-right: 10px; /* 調整星星圖示和評分之間的間距 */
}

.star-icon {
    color: gold;
    margin-right: 5px;
}

/* 評論篩選選項樣式 */
.filter-options {
    display: flex;
    align-items: center; /* 新增對齊居中 */
    margin-top: 10px;
}

.filter-options button {
    background-color: var(--primary-color);
    color: #ffffff;
    border: none;
    border-radius: 1rem;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px; /* 新增按鈕之間的間距 */
}

.filter-options button:hover {
    background-color: #934e1a;
}

/* 單個評論容器 */
.comment {
    border-top: 1px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
}

/* 會員信息樣式 */
.member-info {
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--primary-color);
}

.rating {
    color: gold;
    font-size: 1.2em;
    margin-left: 5px;
}

.date {
    color: #888;
    font-size: 0.8em;
}

.comment-content {
    margin-top: 10px;
    color: #333;
}

.swal-modal{
	margin-top: 120px;
	top:100px;
	
}
