body#addpbm_body{
  background-color: #f5deb3;
  font-family: 'Arial', sans-serif;
  margin: 0;
  margin-left: 280px;
  padding: 0;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1#addpbm_h1 {
  text-align: center;
  margin:  0;
  color: #e74c3c;
     font-size: 32px;
     background-color: #f39c12;
     color: white;
     border-radius: 5px;
     padding: 10px;
}

table {
  margin: 0 auto;
  background-color: #fff8dc;
  border-radius: 10px;
  padding: 20px;
}

.td1 {
  font-size: 20px;
  color: #e74c3c;
  text-align: right;
  color: #e74c3c;
  min-width: 20%;
}

.td2 select {
  width: 100%;
  padding: 10px;
  border: 2px solid #e74c3c;
  border-radius: 5px;
  background-color: #fff;
}

#pbmTitle,
#pbmContext {
  width: 100%;
  padding: 10px;
  border: 2px solid #e74c3c;
  border-radius: 5px;
  background-color: #fff;
  margin-top: 10px;
}

#submit {
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

#submit:hover {
  background-color: #c0392b;
}

#pbmform {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 0 auto;
          max-width: 600px;
          padding: 20px;
          background-color: #fff8dc;
          border-radius: 10px;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        }