* {
    box-sizing: border-box;
    vertical-align: middle!important;
}
main{
display:none;
}
.art_header {
    display: flex;
    height: 80px;
    padding: 15px 10px;
    background-color: #b45f06;
    color: aliceblue;
    align-items: center;
}

.art_header h1 {
    font-size: 36px;
    padding: 15px 35px 15px 10px;
}

.art_header div span {
    font-size: 28px;
    padding: 15px 15px 15px 10px;
}
.art_header div span a{
    text-decoration: none;
    color: aliceblue;
}