<style>body {
    background-color: #fce5cd;
    margin: 0;
    padding: 0;
}

h1.h1 {
    width: calc(100% - 280px);
    height: 100px;
    background-color: #b45f06;
    font-size: 50px;
    text-align: center;
    color: #fce5cd;
    margin-left: 300px;
    display: block;
    border: #fce5cd 3px solid;
    padding-top: 50px;
}

div.lathome {
    width: calc(100% - 300px);
    margin-left: 300px;
    padding: 0px;
    height: 100%;
    background-color: #fce5cd;
}

form {
    width: 100%;
    background-color: #fce5cd;
    color: #b45f06;
    font-size: 36px;
    display: block;
    padding: 30px 15px;
    border: #b45f06 solid 3px;
    margin: 10px 0;

}

input {
    background-color: wheat;
}



.a {
    width: 100%;
    text-decoration: none;
    color: #b45f06;
    background-color: #fce5cd;
    padding: 30px 15px;
    font-size: 36px;
    display: block;
    border: #b45f06 solid 3px;
    margin: 0 0 10px 0;
}

</style>