
        body#lat_all {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            margin: 0;
            padding: 0;
            margin-left: 280px;
        }

        table#lat {
            width: 100%;
            margin-top: 20px;
            padding:  0 5px;
        }
        label,div.dataTables_info{
            padding: 10px;
            height: 20px;
        }
        th,
        td {
            padding: 10px;
            text-align: center;
            /* 調整此行來置中對齊 */
            border: 1px solid #dce3e6;
        }

        th {
            background-color: #dce3e6;
            color: #555;
            width: auto;
        }

        th #lat_pic{
            max-width:500px;
        }

        tr:nth-child(even) {
            background-color: #f5f5f5;
        }

        img {
            max-width: 400px;
            height: auto;
        }

        button {
            padding: 5px 10px;
            border: none;
            background-color: #555;
            color: white;
            cursor: pointer;
            border-radius: 3px;
        }

        button:hover {
            background-color: #333;
        }

        th#th_time {
            width: 80px;
        }
