body {
    font-family: Arial, sans-serif;
    background-color: #f7f2ea;
    margin: 0;
    padding: 0;
}
h1#lat_h1 {
    text-align: center;
    background-color: #D2691E;
    border-radius: 10px;
    color: white;
    max-width: 100%;
    margin: 0 auto;
}
.lat_container {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

th {
    background-color: #ffd699;
    font-weight: bold;
}

td {
    white-space: normal; /* 修改此行 */
}

#show_img > img {
    width: 100%;
    max-width: 100%;
    height: auto;z
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

hr {
    border-color: #fce5cd;
    margin: 10px 0;
}

.right-scroll {
    overflow-y: scroll;
    max-height: 280px;
}
